.column{
    display: flex;
    flex-direction: column;
}
.bolder{
    font-weight: bolder;
}

.description{
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    position: relative;
}

.backgroundText{
    position: absolute;
    top: 20;
    z-index: 0;
}
.backgroundText > h1{
    font-size: 180px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.10);
    text-stroke: px rgba(0, 0, 0, 0.10);;
    color: white;

}
.descriText{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 45%;
    justify-content: right;
    z-index: 2;
}
section > h2{
    font-size: 36px;
}
.descriText > h3{
    font-size: 24px;
    width: 90%;
    margin-top: 2vh;
}
.descriImg{
    width: 50%;
    z-index: 2;
}
.descriImg > img{
    width: 100%;
    height: 100%;
}

.blue > h1{
    color: #F8FBFF;
    font-size: 350px;
}


.features{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #F8FBFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10vh;
}
.featuresText{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    z-index: 2;
}
.featuresText > h2{
    font-size: 36px;
}
.featuresText > h3{
    font-size: 20px;
    width: 70%;
    font-weight: 500;
}

.featureList{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    margin-top: 8%;
}
.featureExample{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    justify-content: space-evenly;
}
.featureIcon{
    width: 64px;
    height: 64px;
    background: aqua;
    border-radius: 50%;
    margin-bottom: 5%;
}
.featureText{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featureText > h2{
    font-size: 18px;
    font-weight: 500;
}
.featureText > h3{
    font-size: 15px;
    font-weight: 300;
    width: 70%;
}
.exampleMargin{
    margin-top: -10vh;
}

.testimonials{
    width: 80%;
    height: 100%;
    margin-top: 5vh;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
}
.testimonials > h2{
    font-size: 36px;
    margin-bottom: 5%;
}
.testimonialElements{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.testimonialImage{
    width: 45%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}
.testimonialText{
    width: 50%;
    height: 60%;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.testimonialText > h2{
    font-size: 26px;
    font-weight: 500;
    font-weight: bolder;
}
.testimonialText > h3{
    font-size: 20px;
    margin-top: 5%;
    width: 100%;
    font-weight: 300;
}


.newsletter{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: #F8FBFF;

    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5vh;
    margin-bottom: 10vh;
}
.newsCont{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suscribe{
    width: 60%;
    height: 100%;
    padding: 19px 35px;
    align-items: center;
    border-radius: 40px;
border: 1px solid var(--Primary-Black-7, #CDCDCE);
background: #FFF;
margin-top: 5%;

display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.suscribeText{
    color: #6E7070;
font-size: 20px;
font-style: normal;
font-weight: 300;
font-weight: lighter;

outline: none;
border: none;
}
input{
    width: 100%;
}
.suscribeBtn{
    width: 30%;
    padding: 12px 24px;
justify-content: center;
align-items: center;
border-radius: 24px;
background: #0A66C2;
color: #fff;
font-weight: bolder;
outline: none;
border: none;
cursor: pointer;
}